.img-fluid {
    height: 100%;
    max-width: 80%;
}

.titulo {
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    font-family: Montserrat;
}

.form-control {
    border-radius: 24px;
    background-color: #F6F8FC;
    /* color: #2C2E50;
    text-decoration-color: #2C2E50; */
    
}

.btn-success{
    background: #20CC81;
    border-radius: 25px;
    border-color: #20CC81;
    font-family: Poppins;
    font-style: normal;
}

.form-label{
    color: #9193A6;
}